openapi: 3.0.0
info:
  version: '1.0'
  title: Learner data external API for consumption from an authenticated consumer
  description: 'This service will provide a contract to the Data Collections team for submission to the Apprenticeship service'
paths:
  /info:
    get:
      description: information regarding this API. The version will be returned
      responses:
        '200':
          $ref: '#/components/responses/infoResponse'  
        '429':
          $ref: '#/components/responses/rateLimitExceededResponse'
  /health:
    get:
      description: The system is fully ready to accept requests and all the dependencies are healthy
      responses:
        '200':
          description: All health checks have passed
          $ref: '#/components/responses/healthCheckResponse'
        '503':
          description: A health check has failed
          $ref: '#/components/responses/healthCheckResponse'
        '429':
          $ref: '#/components/responses/rateLimitExceededResponse'
  
  /reference-data/providers:
    get:
      summary: returns all reference data for providers
      security:
        - ApiKeyAuth: []  # Require API Key authentication
      responses:
        '200':
          $ref: '#/components/responses/pagedProviderReferenceDataResponse' 

  /reference-data/providers/{ukprn}:
    get:
      summary: returns reference data pertinant to a provider
      security:
        - ApiKeyAuth: []  # Require API Key authentication
      parameters:
        - name: ukprn
          in: path
          required: true
          description: The UK Provider Reference Number
          schema:
            type: string        
      responses:
        '200':
          $ref: '#/components/responses/providerReferenceDataResponse' 
        '404':
          description: The provider was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error' 

  /providers/{ukprn}/academicyears/{academicyear}/learners:
    put:
      summary: External authenticated endpoint for pushing ILR data (leaner data in our domain) into the apprenticeship service
      security:
        - ApiKeyAuth: []  # Require API Key authentication
      parameters:
        - name: ukprn
          in: path
          required: true
          description: The UK Provider Reference Number for the provider entering this learner cohort
          schema:
            type: string
        - name: academicyear
          in: path
          required: true
          description: The UK Provider Reference Number for the provider entering this learner cohort
          schema:
            type: integer
            example: 2324
      requestBody:
        $ref: '#/components/requestBodies/learnerRequestArray'
      responses:
        '202':
          $ref: '#/components/responses/acceptedResponse'
        '401':
          $ref: '#/components/responses/unauthorized'
        '400':
          $ref: '#/components/responses/badRequest'
        '429':
          $ref: '#/components/responses/rateLimitExceededResponse'   
  /providers/{ukprn}/academicyears/{academicyear}/learners/{uln}:
    put:
      summary: External authenticated endpoint for updating specific learners.
      security:
        - ApiKeyAuth: []  # Require API Key authentication
      parameters:
        - name: ukprn
          in: path
          required: true
          description: The UK Provider Reference Number for the provider entering this learner
          schema:
            type: string
        - name: academicyear
          in: path
          required: true
          example: 2425
          schema:
            type: integer
        - name: uln
          in: path
          required: true
          description: The Unique Learner Number for this learner
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/learnerRequest'
      responses:
        '202':
          $ref: '#/components/responses/acceptedResponse'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/rateLimitExceededResponse'                       

components:  
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: "Enter your API key in the `X-API-Key` header."
  headers:
    location:
      schema:
        type: string
        format: url
        example: /providers/234324/leaners/24321432
    X-RateLimit-Limit:
      description: The maximum number of requests allowed in a time window
      schema:
        type: integer
        example: 100
    X-RateLimit-Remaining:
      description: The number of requests remaining in the current time window
      schema:
        type: integer
        example: 99
    X-RateLimit-Reset:
      description: The time (in UNIX timestamp) when the rate limit resets
      schema:
        type: integer
        example: 1712345678
    Retry-After:
      description: The number of seconds to wait before making a new request
      schema:
        type: integer
        example: 60

  requestBodies:
    learnerRequest:
      description: The ilr record to be submitted to AS
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/learnerRequest'
    learnerRequestArray:
      description: The ilr record array to be submitted to AS
      required: true
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/learnerRequest'

  responses:
    providerReferenceDataResponse:
      description: A provider refererence data response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/providerReferenceData'

    pagedProviderReferenceDataResponse:
      description: A paged provider refererence data response
      headers:
        Link:
          description: Pagination links (next, prev)
          schema:
            type: string
            format: url
          example: '<https://api.example.com/items?page=2>; rel="prev", <https://api.example.com/items?page=5>; rel="next"'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/pagedProviderReferenceData'
    
    acceptedResponse:
      description: A resource has been created or updated through the service      
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            type: object
            properties:
              correlationId:
                type: string
                
    rateLimitExceededResponse:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Rate limit exceeded. Try again later."

    notFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    okResponse:
      description: OK
      content:
        text/plain:
          schema:
            type: string
            example: OK

    unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    badRequest:
      description: A bad request was sent and validation of the payload failed
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/error'
    
    healthCheckResponse:
      description: Results of a health check
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/healthcheckResults'

    infoResponse:
      description: Information response
      content:
        text/plain:
          schema:
            type: string
            example: Leaner data APIM for the apprenticeship service - Version 3.0.2

  schemas:
    error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    
    healthcheckResults:
      type: array
      items:
        $ref: '#/components/schemas/healthcheck' 
  
    healthcheck:
      type: object
      properties:
        description: 
          type: string
        result: 
          type: string    
    
    learnerRequest:
      type: object
      properties:
        uln:
          type: integer
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
          format: date
        learnerEmail:
          type: string
        percentageLearningToBeDelivered:
          description: This is the percentage of learning left to be delivered due to RPL
          type: integer
          example: 10
        ukprn:
          type: integer
        agreementId:
          type: string
        trainingPrice:
          type: integer
          description: This is the earliest price
        epaoPrice:
          type: integer
          description: This is the earliest price
        standardCode:
          type: integer
        startDate:
          type: string
          format: date
        plannedEndDate:
          type: string
          format: date
        isFlexiJob:
          type: boolean
        plannedOTJTrainingHours:
          type: integer
        consumerReference:
          type: string
          description: This allows the consumer to set a reference for the records being submitted
          example: LR-10034925-2425-20250301-113951-04
      required:
        - uln,
        - firstName
        - lastName
        - dateOfBirth
        - ukprn
        - standardCode
        - trainingPrice
        - epaoPrice
        - startDate
        - plannedEndDate
        - agreementId     
        - isFlexiJob 
        - consumerReference
    
    pagedProviderReferenceData:
      type: object
      properties:
        providers:
          type: array
          items:
              $ref: '#/components/schemas/providerReferenceData'
        total:
          type: integer
          minimum: 0
        page: 
          type: integer
          minimum: 1
        pageSize: 
          type: integer
          minimum: 1
          maximum: 20
        totalPages: 
          type: integer
          minimum: 1
      required:
        - page
        - total
        - pageSize  
        - totalPages  
    
    providerReferenceData:
      type: object
      properties:
        ukprn:
          type: string
        type:
          type: integer
          description: 1 -main, 2 - provider, 3 - supporting
          example: [1, 2, 3]
        status:
          type: string
          description: 0 - removed, 1 - active, 2 - active (not taking providers), 3 - on boarding
          example: [0, 1, 2, 3]
        employers:
          type: array
          description: Provider relationships
          items:
              $ref: '#/components/schemas/employerData'
        supportedCourses:
          type: array
          description: course management api will have a single endpoint
          items:
            type: object
            properties:
              code: 
                type: string
              effectiveFrom:
                type: string
                format: date
              effectiveTo:
                type: string
                format: date
    
    employerData:
      type: object
      properties:
        agreementId:
          type: string
        IsLevy:
          type: boolean
        IsFlexiEmployer: 
          type: boolean
security:
  - ApiKeyAuth: []  # Apply API Key security globally