openapi: 3.0.0
info:
  version: '1.0'
  title: Provider reference data. external API for consumption from an authenticated consumer
  description: 'This service will provide a contract to the Data Collections team for submission to the Apprenticeship service'
paths:
  /info:
    get:
      description: information regarding this API. The version will be returned
      responses:
        '200':
          $ref: '#/components/responses/infoResponse'  
        '429':
          $ref: '#/components/responses/rateLimitExceededResponse'
  /health:
    get:
      description: The system is fully ready to accept requests and all the dependencies are healthy
      responses:
        '200':
          description: All health checks have passed
          $ref: '#/components/responses/healthCheckResponse'
        '503':
          description: A health check has failed
          $ref: '#/components/responses/healthCheckResponse'
        '429':
          $ref: '#/components/responses/rateLimitExceededResponse'
  
  /reference-data/providers:
    get:
      summary: returns all reference data for providers
      security:
        - ApiKeyAuth: []  # Require API Key authentication
      parameters: 
        - name: page
          in: query
          required: false
          description: Default is 1
          schema:
            type: integer
        - name: pagesize
          in: query
          required: false
          example: 20
          description: Default is 20, can be between 10 and 100
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/pagedProviderReferenceDataResponse' 

  /reference-data/providers/{ukprn}:
    get:
      summary: returns reference data pertinant to a provider
      security:
        - ApiKeyAuth: []  # Require API Key authentication
      parameters:
        - name: ukprn
          in: path
          required: true
          description: The UK Provider Reference Number
          schema:
            type: string        
      responses:
        '200':
          $ref: '#/components/responses/providerReferenceDataResponse' 
        '404':
          description: The provider was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'                        

components:  
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: "Enter your API key in the `X-API-Key` header."
  headers:
    location:
      schema:
        type: string
        format: url
        example: /providers/234324/leaners/24321432
    X-RateLimit-Limit:
      description: The maximum number of requests allowed in a time window
      schema:
        type: integer
        example: 100
    X-RateLimit-Remaining:
      description: The number of requests remaining in the current time window
      schema:
        type: integer
        example: 99
    X-RateLimit-Reset:
      description: The time (in UNIX timestamp) when the rate limit resets
      schema:
        type: integer
        example: 1712345678
    Retry-After:
      description: The number of seconds to wait before making a new request
      schema:
        type: integer
        example: 60

  responses:
    providerReferenceDataResponse:
      description: A provider refererence data response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/providerReferenceData'

    pagedProviderReferenceDataResponse:
      description: A paged provider refererence data response
      headers:
        Link:
          description: Pagination links (next, prev)
          schema:
            type: string
            format: url
          example: '<https://api.example.com/items?page=2>; rel="prev", <https://api.example.com/items?page=5>; rel="next"'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/pagedProviderReferenceData'
    
    acceptedResponse:
      description: A resource has been created or updated through the service      
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            type: object
            properties:
              correlationId:
                type: string
                
    rateLimitExceededResponse:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Rate limit exceeded. Try again later."

    notFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    okResponse:
      description: OK
      content:
        text/plain:
          schema:
            type: string
            example: OK

    unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    badRequest:
      description: A bad request was sent and validation of the payload failed
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/error'
    
    healthCheckResponse:
      description: Results of a health check
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/healthcheckResults'

    infoResponse:
      description: Information response
      content:
        text/plain:
          schema:
            type: string
            example: Leaner data APIM for the apprenticeship service - Version 3.0.2

  schemas:
    error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    
    healthcheckResults:
      type: array
      items:
        $ref: '#/components/schemas/healthcheck' 
  
    healthcheck:
      type: object
      properties:
        description: 
          type: string
        result: 
          type: string    
    
    pagedProviderReferenceData:
      type: object
      properties:
        providers:
          type: array
          items:
              $ref: '#/components/schemas/providerReferenceData'
        total:
          type: integer
          minimum: 0
        page: 
          type: integer
          minimum: 1
        pageSize: 
          type: integer
          minimum: 1
          maximum: 20
        totalPages: 
          type: integer
          minimum: 1
      required:
        - page
        - total
        - pageSize  
        - totalPages  
    
    providerReferenceData:
      type: object
      properties:
        ukprn:
          type: string
        type:
          type: integer
          description: 1 -main, 2 - provider, 3 - supporting
          example: [1, 2, 3]
        status:
          type: string
          description: 0 - removed, 1 - active, 2 - active (not taking providers), 3 - on boarding
          example: [0, 1, 2, 3]
        employers:
          type: array
          description: Provider relationships
          items:
              $ref: '#/components/schemas/employerData'
        supportedCourses:
          type: array
          description: course management api will have a single endpoint
          items:
            type: object
            properties:
              code: 
                type: string
              effectiveFrom:
                type: string
                format: date
              effectiveTo:
                type: string
                format: date
    
    employerData:
      type: object
      properties:
        agreementId:
          type: string
        IsLevy:
          type: boolean
        IsFlexiEmployer: 
          type: boolean
security:
  - ApiKeyAuth: []  # Apply API Key security globally