openapi: 3.0.0
info:
  version: '1.0'
  title: APIM for the Import payment web job.
  description: 'This service is reponsible for selecting the individual workflows for each account on the system'
paths:
  /logs:
    post:
      description: Logs an entry into the log
      requestBody:
        $ref: '#/components/requestBodies/jobRequest'
      responses:
        '200':
          $ref: '#/components/responses/okResponse'
        '400':
          $ref: '#/components/responses/badRequest'
          
  /workflow:
    post:
      description: Pushes a workflow onto the messaging bus for processing
      requestBody:
        $ref: '#/components/requestBodies/workflowItemRequest'
      responses:
        '200':
          $ref: '#/components/responses/okResponse'
        '400':
          $ref: '#/components/responses/badRequest'
    get:
      description: A paged list of identifiers that will be used for each job
      parameters:
        - name: page
          in: query
          required: false
          description: Default is 1
          schema:
            type: integer
        - name: pagesize
          in: query
          required: false
          example: 20
          description: Default is 20, can be between 10 and 100
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/pagedJobIdentifiersResponse'  
  
components:
  requestBodies:
    workflowItemRequest:
      description: A JSON object containg the workflow data push onto the messaging bus
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/workflowSchema'
      
    jobRequest:
      description: A JSON object containg the job to save
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/jobSchema'
    
  responses:
    createdResponse:
      description: Resource successfully created.
      headers:
        Location:
          description: The URI of the newly created resource.
          schema:
            type: string
            format: uri
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                example: "12345"
              message:
                type: string
                example: "Resource created successfully."

    okResponse:
      description: Ok response
      content:
        text/plain:
          schema:
            type: string
            example: Leaner data APIM for the apprenticeship service - Version 3.0.2
    
    
    pagedJobIdentifiersResponse:
      description: A paged response of identifiers
      headers:
        Link:
          description: Pagination links (next, prev)
          schema:
            type: string
            format: url
          example: '<https://api.example.com/items?page=2>; rel="prev", <https://api.example.com/items?page=5>; rel="next"'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/pagedworkflowIdSchema'
            
    badRequest:
      description: A bad request was detected
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

  schemas:
    jobSchema:
      type: object
      properties:
        jobId:
          type: string
        description: 
          type: string
          description: This is the initiator log
          example: Initiating with x records
        numRecords:
          type: integer
        jsonData:
          type: object
          additionalProperties: true
          description: The json data that the job is acting on. Info that would help remediation
          format: json
        status:
          type: string
          enum: 
            - started
            - completed

    error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
  
    workflowIdSchema:
      type: object
      properties:
        workflowId:
          type: string
        jsonData: 
          type: object
          additionalProperties: true

    workflowSchema:
      allOf:
        - $ref: '#/components/schemas/workflowIdSchema'
        - type: object
          properties:
            jobId:
              type: string
              format: uuid
            dateStarted:
              type: string
              format: datetime
        
    pagedworkflowIdSchema:
      type: array
      items:
        $ref: '#/components/schemas/workflowIdSchema'